@import './vars.scss';
@import './normalize.scss';

* {
  color: $c-text;
}

body {
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  height: 45vh;
  overflow: hidden;
}

h1 {
  font-family: $t-heading-font;
  color: $c-primary;

  &:first-of-type {
    margin-top: 0;
    padding: 30px 0;
  }
}

h2 {
  font-family: $t-heading-font;
  color: $c-accent;
}

h3 {
  font-family: $t-heading-font;
  color: $c-accent;
  text-align: center;
  max-width: calc(#{$b-maxspacing} / 1.5);
  margin: 2.5rem auto;
  line-height: 1.5;
}

p {
  margin-bottom: 1.5rem;
  margin-top: 0;
}

.container {
  margin: 0 auto;
  padding: 0 30px;

  &__inner {
    max-width: $b-maxspacing;
    margin: 0 auto;
  }
}

.u {
  border-bottom: 3px solid $c-primary;
  padding-bottom: 3px;
}

.c-accent {
  color: $c-accent;
  font-weight: 700;
}

ul {
  list-style: none;
}

li {
  display: flex;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin: 0 1em 1em 0;
  stroke-width: 0;
  stroke: red;
  fill: $c-primary;
}

.header__bg {
  position: relative;
  z-index: 1;
  height: 0;
  width: 100%;
  padding-bottom: 45vh;
}

.header__bg::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.8);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.header__bg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 45vh;
  object-fit: cover;
  object-position: center;
}

.header__main img {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  width: 50%;
  height: auto;
  transform: translate(-50%, -50%);
}

.header__video {
  position: fixed;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;

  video {
    // width: 100%;
    height: auto;
  }
}

.header__video img {
  width: 100%;
  height: auto;
}

main {
  position: relative;
}

section {
  background-color: #fff;

  p:last-child {
    margin-bottom: 0;
    padding-bottom: 1.5rem;
  }

  & h3:first-child {
    padding-top: 1.5rem;
  }

  & h3:last-child {
    padding-bottom: 1.5rem;
    margin-bottom: 0;
  }
}

section:nth-child(2){
  background-color: transparent;
}

.video {
  height: 50vh;

  &__wrap {
    position: relative;
    height: 100%;
    // height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  &__close {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    z-index: 3;
    cursor: pointer;

    span:nth-child(1) {
      content: '';
      position: fixed;
      top: 25px;
      right: 50px;
      width: 2px;
      height: 35px;
      background-color: #fff;
      transform: rotate(45deg);
    }
    span:nth-child(2) {
      content: '';
      position: fixed;
      top: 25px;
      right: 50px;
      width: 2px;
      height: 35px;
      background-color: #fff;
      transform: rotate(-45deg);
    }
  }

  &__vimeo {
    position: relative;
    display: none;
    width: 100vw;
    height: auto;
    margin: 0 auto;
    justify-content: center;
    align-items: center;

    &:after {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: black;
      z-index: 1;
    }

    &.open iframe {
      position: fixed;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      z-index: 2;
      transform: translate(-50%, -50%);
    }
  }

  &__btn {
    position: relative;
    width: 100px;
    height: 100px;
    border: 8px solid #fff;
    border-radius: 50%;
    opacity: .9;
    cursor: pointer;
  }

  &__btn-icon {
    position: absolute;
    top: 50%;
    left: calc(50% + 5px);
    border-style: solid;
    border-width: 18px 0 18px 29.5px;
    border-color: transparent transparent transparent #fff;
    transform: translate(-50%, -50%);
  }
}

// media queries
@media screen and (max-width: $b-small) {
  .container {
    padding: 0 15px;
  }

  header,
  .header__bg img {
    height: 25vh;
  }

  .header__bg {
    padding-bottom: 25vh;
  }

  .video {
    height: 65vh;
  }

  h1,
  h1:first-of-type {
    padding: 15px 0 0;
    margin-bottom: 0;
  }

  h3 {
    margin: 1.5rem auto;
  }

  ul {
    padding-left: 0;
  }
}