@import './vars.scss';
@import './normalize.scss';

* {
  color: $c-text;
  font-family: $t-body-font;
}

html {
  font-size: 16px
}

body {
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  height: 45vh;
  overflow: hidden;
}

h1 {
  font-family: $t-heading-font;
  color: $c-primary;

  &:first-of-type {
    margin: 0;
    padding: 30px 0 0;
  }
}

h2 {
  font-family: $t-heading-font;
  color: $c-accent;
}

h3 {
  font-family: $t-heading-font;
  color: $c-accent;
  text-align: center;
  max-width: calc(#{$b-maxspacing} / 1.5);
  margin: 2.5rem auto;
  line-height: 1.5;
}

p {
  margin-bottom: 1.5rem;
  margin-top: 0;
  letter-spacing: 1.3px;
}

.container {
  margin: 0 auto;
  padding: 0 30px;

  &__inner {
    max-width: $b-maxspacing;
    margin: 0 auto;
  }
}

.u {
  border-bottom: 3px solid $c-primary;
  padding-bottom: 3px;
}

.c-accent {
  color: $c-accent;
  font-weight: 700;
}

.c-primary {
  color: $c-primary;
  border: 2px solid;
  padding: 10px 0;
  font-weight: 700;
}

h3.cta__wrap {
  background-color: $c-accent;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fb_image {
  border-right: 2px solid gainsboro;
  border-bottom: 3px solid gainsboro;
  float: left;
  margin-right: 30px;
  margin-bottom: 1.5rem;
}

.divider {
  position: relative;
  height: 200px;
  background-color: $c-accent;
  clear: both;

  h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;;
    margin-top: 0;
    width: 100%;
    font-size: 32px;
    z-index: 1;
  }

  h3:first-child {
    padding-top: 0;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 100%;
    width: 25vw;
    height: 200px;
    background-color: $c-accent;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    width: 25vw;
    height: 200px;
    background-color: $c-accent;
  }
}

.callout {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  position: relative;
  margin: 8vw 0;
  clear: both;

  @media screen and (min-width: 1620px)  {
    margin: 100px 0;
  }


  &::after {
    content: '';
    margin-bottom: 100px;
    display: block;
    height: 300px;
    background-color: transparent;
    width: 100%;
    position: relative;
  }

  &__img {
    display: flex;
    justify-content: flex-end;

    img {
      align-self: center;
      transform: scaleX(-1);
    }
  }

  &__copy {
    position: absolute;
    bottom: 100px;
    left: 0;
    background-color: $c-black;
    padding: 30px;
    margin: 0;
    width: 50%;
    z-index: 1;

    p {
      color: #fff;
    }

    strong {
      color: $c-primary;
    }

    & .u {
      color: $c-primary;
      font-weight: 700;
    }
  }
}

section:first-of-type  {
  clear: both;
  border-bottom: 20px solid $c-black
}

section:last-of-type  {
  border-top: 20px solid $c-black
}

.famshot {
margin-bottom: 1.5rem;

  &__img {
    display: flex;
    margin: 0 auto;
  }
}

.famshot {
  background-color: $c-primary;
}

section:last-of-type {

  .callout {

    &:last-of-type {

      img {
        margin-bottom: 0;
      }
    }
  }
}

.cta__link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px 10px;
  cursor: pointer;
}

ul {
  list-style: none;
}

li {
  display: flex;
  margin-bottom: 1rem;
  letter-spacing: 1.3px;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin: 0 1em 0 0;
  stroke-width: 0;
  stroke: gainsboro;
  fill: $c-primary;
}

.eyebrow {
  position: relative;
  height: 80px;
  background-color: $c-black;
  padding: 0 30px;
  z-index: 1;

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin: 0;
    padding: 0;
    max-width: $b-maxspacing;
    margin: 0 auto;

    & li {
      color: #fff;
      margin: 0;
      width: 20%
    }

    & li:last-of-type,
    & li:last-of-type * {
      color: #fff;
      width: 75%;
      margin-left: auto;
    }
  }

  &__img-wrap {
    display: flex;
    text-transform: uppercase;

    & img {
      align-self: center;
    }

    & div {
      margin-top: 4px;
    }
  }

  &__logo {
    fill: #fff;
  }
}

.header__bg {
  position: relative;
  z-index: 1;
  height: 280px;
  width: 100%;
  padding-bottom: 45vh;
}

.header__bg::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.65);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.header__bg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 45vh;
  object-fit: cover;
  object-position: center;
}

.header__main {
  margin: 1rem 0;
}

.header__main img {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  width: 50%;
  max-width: 450px;
  border-radius: 12px;
  height: auto;
  transform: translate(-50%, -50%);
}

.header__video {
  position: fixed;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;

  video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
    width: 100vw;
    height: 100vh;
  }
}

.header__video img {
  width: 100vw;
  height: auto;
}

main {
  position: relative;
  overflow: hidden;
}

section {
  background-color: #fff;

  p:last-child {
    margin-bottom: 0;
    // padding-bottom: 1.5rem;
  }

  & h3:first-child {
    padding-top: 1.5rem;
  }

  &:not(:last-of-type) h3:last-child {
    // padding-bottom: 1.5rem;
    margin-bottom: 0;
  }
}

section:nth-child(2) {
  background-color: transparent;
}

section:last-of-type {
  padding-bottom: 2rem;
}

.video {
  height: 50vh;

  &__wrap {
    position: relative;
    height: 100%;
    // height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  &__close {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    z-index: 3;
    cursor: pointer;

    span:nth-child(1) {
      content: '';
      position: fixed;
      top: 25px;
      right: 50px;
      width: 2px;
      height: 35px;
      background-color: #fff;
      transform: rotate(45deg);
    }
    span:nth-child(2) {
      content: '';
      position: fixed;
      top: 25px;
      right: 50px;
      width: 2px;
      height: 35px;
      background-color: #fff;
      transform: rotate(-45deg);
    }
  }

  &__vimeo {
    position: relative;
    display: none;
    width: 100vw;
    height: auto;
    margin: 0 auto;
    justify-content: center;
    align-items: center;

    &::after {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: black;
      z-index: 1;
    }

    &.open iframe {
      position: fixed;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      z-index: 2;
      transform: translate(-50%, -50%);
    }
  }

  &__btn {
    position: relative;
    width: 100px;
    height: 100px;
    border: 8px solid #fff;
    border-radius: 50%;
    opacity: .9;
    cursor: pointer;
  }

  &__btn-icon {
    position: absolute;
    top: 50%;
    left: calc(50% + 5px);
    border-style: solid;
    border-width: 18px 0 18px 29.5px;
    border-color: transparent transparent transparent #fff;
    transform: translate(-50%, -50%);
  }
}

// media queries
@media screen and (max-width: $b-medium-large) {
  .callout {

    &::after {
      margin-bottom: 0;
      height: 220px;
    }
  }
}
@media screen and (max-width: $b-medium) {

  .fb_image {
    float: none;
    margin: 0 auto;
    display: flex;
    margin-bottom: 1.5rem
  }

  .callout {

    &::after {
      margin-bottom: 100px;
      height: 300px;
    }

    &__copy {
      width: 90%;
      bottom: -50px;
    }
  }

  .eyebrow__img-wrap div {
    font-size: 14px;
  }
}


@media screen and (max-width: $b-small) {
  .container,
  .eyebrow {
    padding: 0 15px;

    &__list {
      padding: 0 15px;
    }
  }

  svg {
    width: 90px;
  }

  .eyebrow {
    & li:last-of-type,
    & li:last-of-type * {
      color: #fff;
      width: 92%;
      margin-left: auto;
    }

    &__img-wrap {
      display: block;
      text-align: right;

      & img {
        align-self: flex-end;
      }

      & div {
        font-size: 12px;
      }
    }

    &__logo {
      fill: #fff;
      margin-right: auto;
    }
  }

  .divider {

    h3 {
      font-size: 24px;
    }
  }

  header,
  .header__bg img {
    height: 25vh;
  }

  .header__bg {
    padding-bottom: 25vh;
  }

  .video {
    height: 65vh;
  }

  h1,
  h1:first-of-type {
    padding: 15px 0 0;
    margin-bottom: 0;
  }

  h3 {
    margin: 1.5rem auto;
  }

  ul {
    padding-left: 0;
  }
}